html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  margin: 0;
  background-color: $light;
  padding: 80px 0;
  -webkit-font-smoothing : antialiased;
}

main{
  padding: 0 16px;
}

.row{
  max-width: 1100px;
  margin: auto;
}


.flex{
  display: flex;
}

.j-center{
  justify-content: center;
}

.j-evenly{
  justify-content: space-evenly;
}

.a-items-center{
  align-items: center;
}