header{
  background-color: $light;
  padding: 5px 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .header-wrapper{
    padding: 12px;
    background-color: white;
    box-shadow: 0 0 42px #00000012;
    display: flex;
    border-radius: 10px;
    position: relative;

    .logo{
      height: 30px;
      display: flex;
      align-items: center;

      img{
        height: 30px;
        width: auto;
      }

      .logo-name{
        padding-left: 15px;
        font-size: 24px;
        font-weight: bold;
        height: 25px;
        overflow-y: hidden;
        color: $blue;
        padding-top: 4px;
      }
    }

    .header-action{
      height: 42px;
      width: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #F6F7F9;
      border-radius: 30px;
      position: absolute;
      top: 6px;
      right: 15px;
    }
  }
}

nav.mobile-menu{
  background-color: $light;
  padding: 0 5px 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .mobile-menu-wrapper{
    padding: 0 12px;
    background-color: white;
    box-shadow: 0 0 42px #00000012;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    margin: 0;

    li{
      list-style: none;

      a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        padding: 12px 0;
      }
    }
  }
}