{% extends 'common.html.twig' %}
{% block body %}
    <main class="container">
        <h1 class="title">Dashboard</h1>

        <h2 class="subtitle">Vos stats</h2>

        <div class="user-stats">
            <div class="stat">
                <div class="label">Classement général</div>
                <div class="number"><span>#</span>26</div>
            </div>
            <div class="stat">
                <div class="label">Taux de réussite</div>
                <div class="number">{{ stats['success-rate'] }}<span>%</span></div>
            </div>
            <div class="stat">
                <div class="label">Nombre de points</div>
                <div class="number">{{ stats['score'] }}</div>
            </div>
        </div>
    </main>
{% endblock %}
