{% extends 'common.html.twig' %}
{% block body %}
    <main class="container">
        <h1 class="title title--big text-center">Quizzy</h1>
        <div class="subtitle text-center">Choisissez parmi une large variété de thématique et tenter paraître dans le top 10</div>
        <div class="flex j-evenly a-items-center pt-4">
            <a class="btn btn--outline" href="/register">Créer un compte</a>
            <a class="btn" href="/login">Connexion</a>
        </div>
    </main>
{% endblock %}